<div style="width:70%; margin:auto; padding:20px; display:flex; align-items:center;
background: linear-gradient(to right, #1A2A6C, #162C5B, #1F3B7D);  color:white;
margin-top: 200px;">


<form action="/save" method="post" style="flex:1;">
    <h1>mobile shop</h1><br>
    <h1>Add A New Device</h1><br>
<p>modelname,brand,price,stock</p><br>
    <h3>Add New Mobile</h3>
    Model Name: <input type="text" name="model_name">
    Brand: <input type="text" name="brand">
    Price: <input type="number" name="price">
    Stock: <input type="number" name="stock"><br><br>
    <button type="submit">Save</button>
    <a href="/" style="color:white; margin-left:10px;">Cancel</a>
</form>

</div>
